<app-loading-screen></app-loading-screen>
<div class="container-fluid">
  <div class="row m-3">
    <div class="col-2">
        <label for="txtConsortiumID">Consortium ID:</label>
    </div>
    <div class="col-2">
      <input class="form-control" id="txtConsortiumID" [(ngModel)]="consortiumId">
    </div>
    <div class="col-2">
      <button class="btn btn-primary mb-3" (click)="searchConsortium()">Search</button>
    </div>
  </div>
  <hr/>
  <div class="row m-3" *ngIf="providers != undefined">
    <div class="col">
      <span class="d-flex justify-content-start">
        <h2>Consortium Providers :</h2>
      </span>
    </div>
  </div>
  <div class="row m-3" *ngIf="providers != undefined">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Provider ID</th>
            <th scope="col">Provider Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Clients</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of providers.data; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ item.id }}</td>
            <td>{{ item.attributes.name }}</td>
            <td>{{ item.attributes.symbol }}</td>
            <td>
              <button class="btn btn-sm btn-primary mb-3" (click)="getClients(item.id)">Get Clients</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr/>
  <div class="row m-3" *ngIf="clients != undefined">
    <div class="col">
      <span class="d-flex justify-content-start">
        <h2>Provider {{ selectedProviderId }} Clients :</h2>
      </span>
    </div>
  </div>
  <div class="row m-3" *ngIf="clients != undefined">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Client ID</th>
            <th scope="col">Client Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">DOIs</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clients.data; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ item.id }}</td>
            <td>{{ item.attributes.name }}</td>
            <td>{{ item.attributes.symbol }}</td>
            <td>
              <button class="btn btn-sm btn-primary mb-3" (click)="getDOIs(item.id)">Get DOIs</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr/>
    <div class="row m-3" *ngIf="dois != undefined">
      <div class="col">
        <span class="d-flex justify-content-start">
          <h2>Client {{ selectedClientId }} DOIs :</h2>
        </span>
      </div>
    </div>
    <div class="row m-3" *ngIf="dois != undefined">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">DOI</th>
              <th scope="col">Publisher</th>
              <th scope="col">URL</th>           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dois.data; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{ item.id }}</td>
              <td>{{ item.attributes.publisher }}</td>
              <td><a href="{{ item.attributes.url }}">{{ item.attributes.url }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>    
  </div>

</div>